.App {
  text-align: center;
}
.landing {
  background-image: url("./img/vote.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}
.verify {
  background-image: url("./img/wood.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.text {
  -webkit-text-stroke: 3px royalblue;
  color: blue;
  text-align: center;
  text-shadow: 2px 2px;
  font-size: xx-large;
  line-height: 1.1;
}
#verifyanswer {
  position: fixed;
  top: 45%;
  left: 48%;
  margin-top: -10px;
  margin-left: -100px;
  font-style: bold;
  font-size: large;
  color: rgb(6, 139, 35);
}
.questiontext {
  -webkit-text-stroke: 1px blue;
  font-size: larger;
  font-style: oblique;
  position: fixed;
  top: 46%;
  left: 48%;
  margin-top: -50px;
  margin-left: -70px;
  color: blue;
}
img {
  margin-right: auto;
  width: 150px;
  height: 150px;
}
.votetrue {
  background-image: url("./img/flag.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}
.votetext {
  font-size: xx-large;
  font-style: oblique;
  color: rgb(50, 13, 214);
}
.fail {
  background-image: url("./img/noenter.jpg");
  background-size: 30% 50%;
  background-repeat: repeat;
  height: 100vh;
  text-align: center;
  font-size: xx-large;
  font-style: oblique;
  color: rgba(233, 7, 7, 0.801);
}
.valuerror {
  font-size: larger;
  font-style: oblique;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 50px;
  margin-left: -100px;
  color: rgba(255, 0, 0, 0.911);
}
.clientboard {
  float: left;
  height: 80vh;
  width: 80vh;
}
.serverboard {
  float: right;
  height: 80vh;
  width: 80vh;
}

td {
  border: 1px solid #000000;
  text-align: center;
  vertical-align: middle;
  background-color: white;
}

#th3,
#th6 {
  border-left: 4px solid black;
}
#row-0,
#row-3,
#row-6 {
  border-top: 4px solid #000000;
}
#row-8 {
  border-bottom: 4px solid #000000;
}

#col-0,
#col-3,
#col-6 {
  border-left: 4px solid black;
}
#col-8 {
  border-right: 4px solid black;
}
